* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #6699b5;
  padding: 0 16px;
}

header {
  background-color: #004f8c;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.board {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.column {
  width: 300px;
  min-height: 400px;
  background: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
}

.column h2 {
  text-align: center;
}

.task {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

form input,
form textarea {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #004f8c;
  font-family: "Architects Daughter", cursive;
  font-size: 1rem;
  color: hsla(260, 2%, 25%, 0.7);
  width: 70%;
  margin-bottom: 20px;
}

button {
  padding: 0;
  border: none;
  font-family: "Architects Daughter", cursive;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: #004f8c;
}

button span {
  color: #ccc;
}

.task button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #004f8c;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}
